{% extends "base.html" %}

{% block extra-style %}
<link rel="stylesheet" href="{{ MEDIA_URL }}static/css/gallery.css" type="text/css" />
{% endblock %}

{% block extra-head %}
<script type="text/javascript" src="{{ MEDIA_URL }}static/scripts/endless.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}static/endless_pagination/js/endless_on_scroll.js"></script>
{% endblock %}

{% block popup %}
<script>
$(document).ready(function() {
    $("a.thumbnail").fancybox({
        'width'             : '70%',
        'height'            : '90%',
        'autoScale'         : false,
        'transitionIn'      : 'none',
        'transitionOut'     : 'none',
        'type'              : 'iframe'
    });
});
</script>
{% endblock %}

{% block main-content %}
<ul class="thumbnails">
    <li class="span3">
        {% include page_template %}
    </li>
</ul>
{% endblock %}